
form{
  width: 50%;
  margin: 100px auto;
}

form > div{
  margin: 5px;
  width: 100%;
}

textarea{
  width: 100%;
}

input{
  width: 100%;
}

.tabs{
  display: flex;
  justify-content: center;
}

.tabs div{
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid grey;
}